body {
  background-color: #0b011d;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-wrapper {
  width: 100%;
  max-width: 450px;
  padding: 15px;
}

.logo-glow {
  font-size: 3.5rem;
  font-weight: 900;
  text-align: center;
  text-shadow:
    0 0 15px #7000ff,
    0 0 25px #00d2ff;
  letter-spacing: 6px;
  margin-top: 20px;
}

.tagline {
  text-align: center;
  color: #b1a1ff;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  border: 1.5px solid rgba(112, 0, 255, 0.4);
  overflow: hidden;
  position: relative;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.card img {
  width: 100%;
  display: block;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  text-align: center;
  font-weight: bold;
}

/* Button Styling */
.pulse-btn {
  background: linear-gradient(45deg, #7000ff, #00d2ff);
  border: none;
  color: white;
  padding: 18px;
  width: 90%;
  margin: 20px auto 10px;
  display: block;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  animation: glow-animation 2s infinite;
}

.pay-btn {
  background: transparent;
  border: 2px solid #00d2ff;
  color: #00d2ff;
  padding: 15px;
  width: 90%;
  margin: 0 auto 20px;
  display: block;
  border-radius: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

@keyframes glow-animation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(112, 0, 255, 0.5);
  }
  50% {
    transform: scale(1.03);
    box-shadow: 0 0 25px rgba(0, 210, 255, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(112, 0, 255, 0.5);
  }
}

.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.lightbox img {
  width: 85%;
  max-width: 350px;
  border: 3px solid #00d2ff;
  border-radius: 20px;
}
